OracleComms_OSM_CommonDataDictionary/dataDictionary/OracleComms_OSM_CommonDataDictionary.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:Q1="http://xmlns.oracle.com/communications/sce/dictionary/OSMCommonDataDictionary/OSMCommonDataDictionary" xmlns:tns="http://xmlns.oracle.com/communications/sce/dictionary/OracleComms_OSM_CommonDataDictionary/OracleComms_OSM_CommonDataDictionary" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/communications/sce/dictionary/OracleComms_OSM_CommonDataDictionary/OracleComms_OSM_CommonDataDictionary">
                        <xs:simpleType name="ExternalFulfillmentState">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:complexType name="Functions">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="xs:anyType"/>
    </xs:complexContent>
  </xs:complexType>
    <xs:simpleType name="OrderItemStatus">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="PointOfNoReturn">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:complexType name="OrderItem">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
    <xs:complexType name="FulfillmentFunctionType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence>
                                                                                            <xs:element maxOccurs="1" minOccurs="1" name="componentKey">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1000"/>
                                  <xs:minLength value="0"/>
                    </xs:restriction>
        </xs:simpleType>
      </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="calculatedStartDate">
        <xs:simpleType>
          <xs:restriction base="tns:calculatedStartDate"/>
        </xs:simpleType>
      </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="duration">
                              <xs:simpleType>
          <xs:restriction base="tns:duration"/>
        </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="orderItem">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ExternalFulfillmentState">
              <xs:annotation>
                <xs:documentation/>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="tns:ExternalFulfillmentState"/>
              </xs:simpleType>
            </xs:element>
                                  <xs:element maxOccurs="1" minOccurs="0" name="FunctionProcessingState">
              <xs:simpleType>
                <xs:restriction base="tns:OrderComponentOrderItemProcessingState"/>
              </xs:simpleType>
            </xs:element>
                    </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="transformedOrderItem">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="tns:transformedOrderItem"/>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
        </xs:sequence>
  </xs:complexType>
    <xs:complexType name="ControlData">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="OrderItem">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="tns:OrderItem">
              <xs:sequence>
                                <xs:element maxOccurs="1" minOccurs="0" name="PointOfNoReturn">
                  <xs:annotation>
                    <xs:documentation/>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="tns:PointOfNoReturn"/>
                  </xs:simpleType>
                </xs:element>
                                              <xs:element maxOccurs="1" minOccurs="0" name="OrderItemFulfillmentState">
                  <xs:simpleType>
                    <xs:restriction base="tns:OrderItemFulfillmentState"/>
                  </xs:simpleType>
                </xs:element>
                                                            <xs:element maxOccurs="1" minOccurs="0" name="OrderItemProcessingState">
                  <xs:simpleType>
                    <xs:restriction base="tns:OrderItemProcessingState"/>
                  </xs:simpleType>
                </xs:element>
                            </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="Functions">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="tns:Functions"/>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
    <xs:simpleType name="OrderFulfillmentState">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="OrderItemFulfillmentState">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="calculatedStartDate">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
    <xs:simpleType name="duration">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MappingContext">
    <xs:sequence>
                                                                                                                                                                                                                                                                                                                                          <xs:element maxOccurs="unbounded" minOccurs="1" name="ProviderFunction">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="xs:anyType">
              <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="namespace">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                                                                <xs:maxLength value="200"/>
                                        </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="name">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                                                                <xs:maxLength value="200"/>
                                        </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="TargetMapping">
                  <xs:complexType>
                    <xs:complexContent>
                      <xs:restriction base="xs:anyType">
                        <xs:sequence>
                          <xs:element maxOccurs="1" minOccurs="1" name="target">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                                                                              <xs:maxLength value="200"/>
                                                            </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" minOccurs="1" name="SourceMapping">
                            <xs:complexType>
                              <xs:complexContent>
                                <xs:restriction base="xs:anyType">
                                  <xs:sequence>
                                    <xs:element maxOccurs="1" minOccurs="1" name="source">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:minLength value="1"/>
                                                                                                                            <xs:maxLength value="200"/>
                                                                                </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                                                                                                                                                                  <xs:element maxOccurs="1" minOccurs="0" name="InstantiatingMappingRule">
                                      <xs:complexType>
                                        <xs:complexContent>
                                          <xs:extension base="tns:MappingRuleType"/>
                                        </xs:complexContent>
                                      </xs:complexType>
                                    </xs:element>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="MappingRule">
                                      <xs:complexType>
                                        <xs:complexContent>
                                          <xs:extension base="tns:MappingRuleType"/>
                                        </xs:complexContent>
                                      </xs:complexType>
                                    </xs:element>
                                                                    </xs:sequence>
                                </xs:restriction>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:restriction>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
        </xs:sequence>
  </xs:complexType>
   <xs:complexType name="TransformedOrderItem">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="MappingRuleType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="namespace">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
                                  <xs:maxLength value="200"/>
                    </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
                                  <xs:maxLength value="200"/>
                    </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AttributeMapping">
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="xs:anyType">
              <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="Source">
                  <xs:complexType>
                    <xs:complexContent>
                      <xs:extension base="tns:AttributeMappingPropertyType">
                        <xs:sequence>
                                                                            </xs:sequence>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="Target">
                  <xs:complexType>
                    <xs:complexContent>
                      <xs:extension base="tns:AttributeMappingPropertyType">
                        <xs:sequence>
                          <xs:element maxOccurs="1" minOccurs="0" name="instanceKeyPath">
                            <xs:simpleType>
                              <xs:restriction base="tns:instanceKeyPath"/>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element maxOccurs="1" minOccurs="0" name="instanceKey">
                            <xs:simpleType>
                              <xs:restriction base="tns:instanceKey"/>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="mappingRuleItem">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                                                                <xs:maxLength value="100"/>
                                        </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeMappingPropertyType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
                                  <xs:maxLength value="200"/>
                    </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="path">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
                                  <xs:maxLength value="200"/>
                    </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
 <xs:simpleType name="Recognition">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:complexType name="dynamicParams">
    <xs:sequence/>
  </xs:complexType>
    <xs:simpleType name="providerFunction">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="Action">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:complexType name="transformedOrderItem">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="ExternalFulfillmentState">
        <xs:simpleType>
          <xs:restriction base="tns:ExternalFulfillmentState"/>
        </xs:simpleType>
      </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="FunctionProcessingState">
        <xs:simpleType>
          <xs:restriction base="tns:OrderComponentOrderItemProcessingState"/>
        </xs:simpleType>
      </xs:element>
        </xs:sequence>
  </xs:complexType>
    <xs:simpleType name="instanceKeyPath">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="1000"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="instanceKey">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="1000"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="LineID">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="RequestedDeliveryDate">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="LineName">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="FulfillmentPattern">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="OrderItemProcessingState">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="OrderComponentOrderItemProcessingState">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
